<div id="search" class="span-19 last">
	<form action="/" method="get" class="span-16">
		<input type="text" size=40 name="q" value="<%= params["q"] %>" />
		<input type="submit" value="search" />
	</form>
</div>
<div id="sidebar" class="span-4">
	<%= erb :sidebar %>
</div>
<div id="emails" class="span-19 push-1 last">
	<div id="count">
		<h2><%= @emails.length %> messages found</h2>
	</div>
	<div id="explain" class="span-21">
	<p>
		<% if params["q"] %>
		These are the messages that match your query: <b><%= params["q"] %></b>.
		<% else %>
		Showing all messages.
		<% end %>
	</p>
	</div>
	<% @emails.each_with_index do |email, i| %>
	<div class="<%= "relevant" if (email.prediction.relevant == 1 && !email.labeled_irrelevant?) %> item span-21 last <%= "odd" if i % 2 != 0 %>">
		<form class="labelForm itemComponent span-2" action="/emails/<%= email.id %>/labels" method="POST">
			<input <% if email.label && email.label.relevant == 1 %>class="selectedLabel"<% end %> type="submit" value="relevant" name="relevant"  /><br />
			<input <% if email.label && email.label.relevant == 0 %>class="selectedLabel"<% end %> type="submit" value="irrelevant" name="relevant"  />
		</form>

	<h4 class="from itemComponent"><%= email.from %></h4>

		<!-- <h4 class="subject emailComponent"><%= email.subject %></h3> -->

		<p class="body itemComponent">
			<span class="subject"><%= email.subject %></span> - <span class="emailToggle emailSummary"><%= h email.body[0..60].gsub(/\n/, '') %>...</span><span class="emailToggle emailFull" style="whitespace:pre; display:none"><%= h email.body %></span>
		</p>
		<h4 class="sent itemComponent"><%= email.sent_time %></h4>

	</div>		
	<% end %>

</div>
