<div class="relevant" class="span-4">
	<form action="/emails/<%= email.id %>/label" method="POST">
		<input type="hidden" name="_method" value="delete" />
		<input type="submit" value="x" name="relevant" />
	</form>
	<b class="span-2"><%= email.subject %></b><span  class="span-1"><%= email.sent_time %></span><br />
	<%= email.from %><br />
	<em><%= h email.body[0..60].gsub(/\n/, '') %>...</em>
	
	<br style="clear: both" />
</div>